body {
  font: 10px sans-serif;
}

#container {
    margin-top: 20px;
}

.states {
  fill: #E2DDD9;
}

.county-boundary {
  fill: none;
  stroke: #A8A39D;
  stroke-width: .5px;
}

.state-boundary {
  fill: none;
  stroke: #A8A39D;
}

.symbol {
  fill: #B41227;
  fill-opacity: .8;
  stroke: #F8F1E9;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #B41227;
  stroke-width: 1.5px;
}

.chart-title {
    font-size: 14px;
    font-weight: bold;
}

#svgWeather {
    margin-top: 20px;
}